*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    background-color: rgb(185, 140, 140);
    padding: 10px;
    color: black;
    font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

    
button{
    background-color: rgb(28, 28, 145);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;  
    cursor: pointer;
    margin-top: 5px;
    border: none;
}
button:hover{
    background-color:blue ;
}

.Lottery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-top:10px ;
   
    
  
}

.box{
width: 180px;
height: 40px;
background-color: rgb(212, 212, 95);
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 20px;
margin: 5px;
/* border-radius: 5px; */
/* border-top-style: outset;
border-bottom-style: outset; */

box-shadow: 1px 0px 5px 1px ;
}
/* 
.box:hover{
    background-color: rgb(245, 245, 20);
} */

.Lottery-sheet-container{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    
    margin-bottom: 20px;
}

.winningBox {
    background-color: green;
    color: white;
}
#pickNumberBtn{
    margin-top: 20px;
}

.heghlightedBox{
    border: 5px solid red;
}